node_modules/
dist/
.next/
out/
build/
*.log
*.tsbuildinfo
.env*
!.env.example
.DS_Store

# Editores
.vscode/
.idea/

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
serviceAccount*.json
